<div class="row my-5">
	<div class="col-12 my-5">
		<%= link_to "BLOG", blog_posts_path, class: "h5 my-4 title text-reset" %>
	</div>
	<div class="col-md-7">
		<img src="<%= Blog.last.image_path %>" class="img-fluid my-2">
	</div>
	<div class="col-md-5">
		<h5 class="h4 font-weight-bold text-uppercase title"><%= Blog.last.title %></h5>
		<br class="d-none d-lg-inline-block">
		<p><%= Blog.last.description %></p>
		<br class="d-none d-lg-inline-block">
		<%= link_to "seguir leyendo >>", blog_path(Blog.last), class: "font-weight-bolder mt-3 mb-5 text-reset" %>
	</div>
</div>