<%= render 'navbar'%>

<div class="row">
	<div class="col-12">
		<%= link_to "App Page", app_landing_path, class: "btn btn-success font-weight-bold", role: "button" %>
		<%= link_to "Project Page", project_path, class: "btn btn-success font-weight-bold", role: "button" %>
	</div>
</div>

<%= render 'footer'%>
<%= render 'terms'%>	