<%= render 'navbar'%>

<div class="container">
	<% if signed_in? %>
		<div class="row">
			<div class="col-12">
				<ul class="nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
						<div class="dropdown-menu">
							<%= link_to "Salir", logout_path, method: :delete, class: "nav-link" %>
						</div>
					</li>
					<li class="nav-item"><%= link_to "Administar Blog", blogs_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Administar Lotes", lots_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Administrar Propiedades", properties_path, class: "nav-link" %></li>
				</ul>
			</div>
		</div>
	<% end %>
</div>

<%= render 'app-row'%>

<div class="container">
	<%= render 'project-row'%>
	<%= render 'blog-row'%>
</div>

<%= render 'footer'%>
<%= render 'terms'%>