<%= render 'navbar'%>

<div class="container">
	<div class="row my-5">
		<div class="col-12">
			<%= link_to "<< ver todos los articulos", blog_posts_path, class: "font-weight-bolder text-reset" %>
		</div>
		<div class="col-12">
			<h2 class="font-weight-bold text-uppercase blog_title my-4"><%= @blog.title %></h2>
			<img src="<%= asset_path('blog_row.jpg') %>" class="img-fluid my-4">
			<p class="mt-4"><%= @blog.content %></p>
		</div>
	</div>
</div>