<div class="row" hidden>
	<table class="table table-sm table-bordered table-striped text-center" id="table_db">
		<% @lots.each do |lot| %>
			<% @i = @i + 1 %>
				<tr id="lot-<%= @i %>">
					<td id="lot-<%= @i %>-code"><%= lot.code %></td>
					<td id="lot-<%= @i %>-price"><%= lot.price %></td>
					<td id="lot-<%= @i %>-address"><%= lot.address %></td>

					<td id="lot-<%= @i %>-location_lat"><%= lot.location.to_f %></td>
					<td id="lot-<%= @i %>-location_long"><%= lot.location.split(',').last.to_f %></td>

					<td id="lot-<%= @i %>-area_land"><%= lot.area_land %></td>
					<td id="lot-<%= @i %>-area_build"><%= lot.area_build %></td>
					<td id="lot-<%= @i %>-area_occupation"><%= lot.area_occupation %></td>
					<td id="lot-<%= @i %>-front_dim"><%= lot.front_dim %></td>
					<td id="lot-<%= @i %>-left_dim"><%= lot.left_dim %></td>
					<td id="lot-<%= @i %>-right_dim"><%= lot.right_dim %></td>
					<td id="lot-<%= @i %>-back_dim"><%= lot.back_dim %></td>
					<td id="lot-<%= @i %>-floors_build"><%= lot.floors_build %></td>
					<td id="lot-<%= @i %>-use_build"><%= lot.use_build %></td>
					<td id="lot-<%= @i %>-ref_catastral"><%= lot.ref_catastral %></td>
					<td id="lot-<%= @i %>-pot_polygon"><%= lot.pot_polygon %></td>
					<td id="lot-<%= @i %>-pot_treatment"><%= lot.pot_treatment %></td>
					<td id="lot-<%= @i %>-pot_treatment_level"><%= lot.pot_treatment_level %></td>
					<td id="lot-<%= @i %>-pot_tipology"><%= lot.pot_tipology %></td>
					<td id="lot-<%= @i %>-pot_front_align_lb_lc"><%= lot.pot_front_align_lb_lc %></td>
					<td id="lot-<%= @i %>-pot_left_align_lb_lc"><%= lot.pot_left_align_lb_lc %></td>
					<td id="lot-<%= @i %>-pot_right_align_lb_lc"><%= lot.pot_right_align_lb_lc %></td>
					<td id="lot-<%= @i %>-pot_back_align_lb_lc"><%= lot.pot_back_align_lb_lc %></td>
					<td id="lot-<%= @i %>-pot_road_name"><%= lot.pot_road_name %></td>
					<td id="lot-<%= @i %>-base_density"><%= lot.base_density %></td>
					<td id="lot-<%= @i %>-base_floors"><%= lot.base_floors %></td>
					<td id="lot-<%= @i %>-max_density"><%= lot.max_density %></td>
					<td id="lot-<%= @i %>-max_floors"><%= lot.max_floors %></td>
				</tr>
		<% end %>
	</table>
</div>