<!--NAVBAR-->
<%= render 'app-navbar' %>
<!--END NAVBAR-->

<!--CONTAINER-->
<div class="container-fluid">
  <!--ROW APP-->
  <div class="row" id="app">
  
     <div class="col-md-5 app-map" id="map" style="height: 400px">
         
     </div>

     <div class="col-md-7 app-properties" id="properties">

        <!--LOT CARD-->
        <%= render "lot-user-input" %>
        <!--END LOT CARD-->

        <h2 class="text-center m-5" id="text_non_property">Selecciona un terreno del mapa para ver los datos</h2>

        <!--LOT CARD-->
        <%= render "lot-card" %>
        <!--END LOT CARD-->

     </div>
  </div><!--END ROW APP-->

  <!--DATABASE TABLE-->
  <%= render "lot-database" %>
  <!--END DATABASE TABLE-->

  <!--POT-ISOLATION TABLE-->
  <%= render "pot-isolation" %>
  <!--END POT-ISOLATION TABLE-->

</div><!--END CONTAINER-->

<script type="text/javascript">
  // THIS PART FOR THE SIZE OF THE WINDOW
  var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
  var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

  // GENERAL
  $('#property_card').hide();
  $('#lot_user_input_form').hide();

  // SIZES MAP HEIGHT DEPENDING ON VIEWPORT WIDTH
  $(document).ready(function(){
    var h_mobile = h / 1.8;
    if (w < 768) {
      $('div#map').css("height", h_mobile);
      $('.leaflet-control-attribution').hide()
    } else {
      $('div#map').css("height", h);
    };
  });

  $("#input_gross_sales").on('keyup', function(){
      var formatted_number_field = parseInt($(this).val().replace(/\D/g,''),10);
      $(this).val(formatted_number_field.toLocaleString('en-US'));
  });

  // THIS PART FOR THE MAP LOAD
  $(document).ready(function() {
    var mymap = L.map('map').setView([11.009417, -74.812083], 13);

          L.tileLayer('https://api.mapbox.com/styles/v1/lternera/cj3yv171306ma2rprn1soczke/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'lternera.cj3yv8zhw0jap2rjxukdytcqf',
            accessToken: 'pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA'
          }).addTo(mymap);

    var myIcon = L.divIcon({className: 'lot_icon'})
    var myIconSelected = L.divIcon({className: 'lot_icon_selected'})
    var table_db_length = $("#table_db").children().children().length + 1 

    // LOADS MARKER TO MAP
    for (var i = 1; i < table_db_length; ++i) {
       this["marker"+i] = L.marker([parseFloat($( '#lot-'+i+'-location_lat').text()), parseFloat($( '#lot-'+i+'-location_long').text())], {icon: myIcon}).on('click', showLotInfo).addTo(mymap);

        this["marker"+i].on('click', function(e) {
          e.target.setIcon(myIconSelected);
       }); 
    };

    // LOADS TOOLTIP TO MARKERS
    for (var i = 1; i < table_db_length; ++i) {
       this["marker"+i].bindTooltip($( '#lot-'+i+'-code').text(), {direction: 'top', permanent: true}).openTooltip();
    };

    // HIDES MAP´S ATTRIBUTION IN SMALLER SCREENS
    if (w < 768) {
      $('.leaflet-control-attribution').hide()
    };

    // SHOWS LOTS INFO
    function showLotInfo(lot) {
      var selected_lot = lot.latlng['lat'];
      $('#property_card').show();
      $('#lot_user_input_form').show();
      $('#text_non_property').hide();

      for (var i = 1; selected_lot !== found_lot; ++i) {
        var found_lot = parseFloat($( "#lot-"+i ).find( "td#lot-"+i+"-location_lat" ).text());
        if (selected_lot == found_lot) {
           var lot_code = $( "td#lot-"+i+"-code" ).text();
           $('div.card-header > span').text(lot_code);

           // DRESCRIPTION INFO
           var lot_address = $( "td#lot-"+i+"-address" ).text();
           $('li#lot-address > span').text(lot_address);

           var lot_area_land = $( "td#lot-"+i+"-area_land" ).text();
           $('li#lot-area_land > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_area_land));

           var lot_area_build = $( "td#lot-"+i+"-area_build" ).text();
           $('li#lot-area_build > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_area_build));

           var lot_floors_build = $( "td#lot-"+i+"-floors_build" ).text();
           $('li#lot-floors_build > span').text(lot_floors_build);

           var lot_use_build = $( "td#lot-"+i+"-use_build" ).text();
           $('li#lot-use_build > span').text(lot_use_build);

           var lot_front_dim = $( "td#lot-"+i+"-front_dim" ).text();
           $('li#lot-front_dim > span').text(lot_front_dim);

           var lot_left_dim = $( "td#lot-"+i+"-left_dim" ).text();
           $('li#lot-left_dim > span').text(lot_left_dim);

           var lot_right_dim = $( "td#lot-"+i+"-right_dim" ).text();
           $('li#lot-right_dim > span').text(lot_right_dim);

           var lot_back_dim = $( "td#lot-"+i+"-back_dim" ).text();
           $('li#lot-back_dim > span').text(lot_back_dim);


           // NORMATIVE INFO
           var lot_pot_polygon = $( "td#lot-"+i+"-pot_polygon" ).text();
           $('li#lot-pot_polygon > span').text(lot_pot_polygon);

           var lot_pot_treatment = $( "td#lot-"+i+"-pot_treatment" ).text();
           $('li#lot-pot_treatment > span').text(lot_pot_treatment);

           var lot_pot_treatment_level = $( "td#lot-"+i+"-pot_treatment_level" ).text();
           $('li#lot-pot_treatment_level > span').text(lot_pot_treatment_level);

           var lot_base_density = $( "td#lot-"+i+"-base_density" ).text();
           $('li#lot-density > span#lot-base_density').text(lot_base_density);

           var lot_max_density = $( "td#lot-"+i+"-max_density" ).text();
           $('li#lot-density > span#lot-max_density').text(lot_max_density);

           var lot_base_floors = $( "td#lot-"+i+"-base_floors" ).text();
           $('li#lot-floors > span#lot-base_floors').text(lot_base_floors);

           var lot_max_floors = $( "td#lot-"+i+"-max_floors" ).text();
           $('li#lot-floors > span#lot-max_floors').text(lot_max_floors);

           var lot_pot_front_align_lb_lc = $( "td#lot-"+i+"-pot_front_align_lb_lc" ).text();
           $('li#lot-pot_front_align_lb_lc > span').text(lot_pot_front_align_lb_lc);

           var lot_pot_left_align_lb_lc = $( "td#lot-"+i+"-pot_left_align_lb_lc" ).text();
           $('li#lot-pot_left_align_lb_lc > span').text(lot_pot_left_align_lb_lc);

           var lot_pot_right_align_lb_lc = $( "td#lot-"+i+"-pot_right_align_lb_lc" ).text();
           $('li#lot-pot_right_align_lb_lc > span').text(lot_pot_right_align_lb_lc);

           var lot_pot_back_align_lb_lc = $( "td#lot-"+i+"-pot_back_align_lb_lc" ).text();
           $('li#lot-pot_back_align_lb_lc > span').text(lot_pot_back_align_lb_lc);

           // ANALYSIS INFO
           //BASE
           var lot_base_density_result = lot_base_density * lot_area_land;
           $('li#lot-base_density_result > span').text(lot_base_density_result.toFixed());

           var lot_base_area_ocupation_result = lot_area_land - 150;
           $('li#lot-base_area_ocupation_result > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_base_area_ocupation_result));

           var lot_base_area_build_result = lot_base_area_ocupation_result * lot_base_floors;
           $('li#lot-base_area_build_result > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_base_area_build_result));

           // ANALYSIS INFO
           //MAX
           var lot_max_density_result = lot_max_density * lot_area_land;
           $('li#lot-max_density_result > span').text(lot_max_density_result.toFixed());

           var lot_max_area_ocupation_result = lot_area_land - 150;
           $('li#lot-max_area_ocupation_result > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_max_area_ocupation_result));

           var lot_max_area_build_result = lot_max_area_ocupation_result * lot_max_floors;
           $('li#lot-max_area_build_result > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_max_area_build_result));

           // ANALYSIS INFO INPUTS
           $("#collapseExample").on('keyup', function(){
              //BASE
              var input_sellable_area = $( "#input_sellable_area" ).val();
              var lot_base_sellable_area = lot_base_area_build_result * input_sellable_area / 100;
              $('li#lot-base_sellable_area > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_base_sellable_area));
              //MAX
              var lot_max_sellable_area = lot_max_area_build_result * input_sellable_area / 100;
              $('li#lot-max_sellable_area > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_max_sellable_area));
              //BASE
              var input_gross_sales = $( "#input_gross_sales" ).val();
              var lot_base_gross_sales = input_gross_sales.replace(/,/g, '') * lot_base_sellable_area
              $('li#lot-base_gross_sales > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_base_gross_sales));
              //MAX
              var lot_max_gross_sales = input_gross_sales.replace(/,/g, '') * lot_max_sellable_area
              $('li#lot-max_gross_sales > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_max_gross_sales));
              //BASE
              var input_alfa_factor = $( "#input_alfa_factor" ).val();
              var lot_base_land_price = lot_base_gross_sales * input_alfa_factor / 100
              $('li#lot-base_land_price > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_base_land_price));
              //max
              var lot_max_land_price = lot_max_gross_sales * input_alfa_factor / 100
              $('li#lot-max_land_price > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_max_land_price));
           });
        };
      };
    };
  });
</script>