
	<% @properties.each do |property| %>
		<% @i = @i + 1 %>
		<div class="col-12 col-md-6 mb-3" id="property-<%= @i %>">
			<div class="card">
				<%= image_tag('1.jpg', class: "card-img-top mb-0", style: "height:180px;") %>
			 	<div class="card-body">
			 		<span class="badge badge-warning p-1 mr-0 ml-0" id="property-<%= @i %>-property_type"><%= property.property_type %> en venta</span>
			 		<span class="badge badge-secondary p-1 ml-0" id="property-<%= @i %>-code">COD: <%= property.code %></span>
			    	<h4 class="card-title mt-1" >$ <span id="property-card-<%= @i %>-price"><%= property.price %></span></h4>

			    	<h6 class="card-subtitle mb-2" ><small># Dormitorios: </small><span id="property-card-<%= @i %>-room_count"><%= property.room_count %></span> | <small># Baños: </small><span id="property-card-<%= @i %>-bathroom_count"><%= property.bathroom_count %></span></h6>

			   	 	<h6 class="card-subtitle mb-2"><small>Área construida: </small><span id="property-card-<%= @i %>-area_build"><%= property.area_build %></span> m2</h6>

			   	 	<h6 class="card-subtitle mb-2"><small>Área terreno: </small><span id="property-card-<%= @i %>-area_land"><%= property.area_land %></span> m2</h6>

			    	<p class="card-text mb-0" id="property-card-<%= @i %>-address"><small><%= property.address %>, Pivijay, Magdalena</small></p>
			    	<!--<a href="#" class="card-link">Ver propiedad</a>-->

			    	<p hidden id="property-<%= @i %>-location_lat"><%= property.location.to_f %></p>
					<p hidden id="property-<%= @i %>-location_long"><%= property.location.split(',').last.to_f %></p>
					<p hidden id="property-<%= @i %>-code"><%= property.code %></p>
					<p hidden id="property-<%= @i %>-description"><%= property.description %></p>
			  	</div>
			  	<div class="card-footer text-center p-0">
			  		<button class="btn btn-light btn-block m-0" id="see-property-<%= @i %>-btn"><small>Ver propiedad</small></button>
			  	 </div>
			 </div>
		</div>	 
	<% end %>	

	