<div class="container">
	<div class="row">
		<div class="col-12">
			<h1><%= @property.address %></h1>
			<br>
			<h3>Código:</h3>
			<p><%= @property.code %></p>

			<h3>Coordenadas Localización:</h3>
			<p><%= @property.location %></p>

			<h3>Área terreno:</h3>
			<p><%=@property.area_land %></p>

			<h3>Área construida:</h3>
			<p><%= @property.area_build %></p>

			<h3># dormitorios:</h3>
			<p><%= @property.room_count %></p>

			<h3># baños:</h3>
			<p><%= @property.bathroom_count %></p>

		</div>
	</div>
</div>