<div class="container">
	<div class="row">
		<div class="col-12">
			<h1><%= @lot.address %></h1>
			<br>
			<h3>Código:</h3>
			<p><%= @lot.code %></p>

			<h3>Coordenadas Localización:</h3>
			<p><%= @lot.location %></p>

			<h3>Área terreno:</h3>
			<p><%= @lot.area_land %></p>

			<h3>Área construida:</h3>
			<p><%= @lot.area_build %></p>

			<h3>Frente:</h3>
			<p><%= @lot.front_dim %></p>

			<h3>Altura en pisos:</h3>
			<p><%= @lot.floors_build %></p>

			<h3>Uso:</h3>
			<p><%= @lot.use_build %></p>

		</div>
	</div>
</div>